### Import the neccesary libraries for the codes

In [1]:
import pandas as pd
import numpy as np

#### Import the data that we are to work with in this code

In [2]:
data = pd.read_csv('D:/Python/Data/Music.csv')
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [3]:
data2 = pd.read_csv('D:/Python/Data/vgsales.csv')
data2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
pd.crosstab(data2.Genre, data2.Publisher)

Publisher,10TACLE Studios,1C Company,20th Century Fox Video Games,2D Boy,3DO,49Games,505 Games,5pb,7G//AMES,989 Sports,...,Zushi Games,bitComposer Games,dramatic create,fonfun,iWin,id Software,imageepoch Inc.,inXile Entertainment,"mixi, Inc",responDESIGN
Genre,,,,,,,,,,,,,,,,,,,,,
Action,0,0,4,0,17,0,21,5,0,0,...,1,0,1,0,0,0,0,0,1,0
Adventure,1,0,0,0,3,0,7,49,0,0,...,1,0,4,0,0,0,1,0,0,0
Fighting,0,0,0,0,1,0,11,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Misc,0,0,0,0,0,0,31,0,1,0,...,1,0,0,0,0,0,0,0,0,0
Platform,0,0,0,0,1,0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Puzzle,1,0,0,1,1,0,15,0,1,0,...,2,0,0,0,1,0,0,0,0,0
Racing,0,1,0,0,0,0,2,0,0,0,...,3,1,0,0,0,0,0,0,0,0
Role-Playing,0,1,0,0,1,0,10,1,0,0,...,1,0,0,0,0,0,1,1,0,0
Shooter,0,0,1,0,5,0,18,3,0,0,...,2,0,0,0,0,1,0,0,0,0
Simulation,0,0,0,0,0,0,41,2,2,0,...,2,4,0,1,0,0,0,0,0,0
Sports,0,0,0,0,6,1,27,0,0,1,...,3,0,0,0,0,0,0,0,0,2
Strategy,1,1,0,0,1,0,3,0,0,0,...,2,0,0,0,0,0,0,0,0,0